@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;600;700;800&family=JetBrains+Mono:wght@400;500&display=swap');

@import "tailwindcss";

@theme {
 --color-primary: #9B3F4B;
--color-primary-dark: #762F39;

--color-secondary: #D9A6AC;
--color-secondary-dark: #B8757E;

  --font-heading: "Times New Roman", Times, serif;
  --font-body: "Times New Roman", Times, serif;
  --font-mono: "JetBrains Mono", monospace;
}

:root {
  font-family: "Times New Roman", Times, serif;
  background-color: #FBF7F7;
  color: #2E2527;
}

body {
  margin: 0;
  min-height: 100vh;
}
